@font-face {
  font-family: "SplineSans-Light";
  src: url("../assets/fonts/SplineSans-Light.otf") format("openType");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "SplineSans-Regular";
  src: url("../assets/fonts/SplineSans-Regular.otf") format("openType");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "SplineSans-Medium";
  src: url("../assets/fonts/SplineSans-Medium.otf") format("openType");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "SplineSans-SemiBold";
  src: url("../assets/fonts/SplineSans-SemiBold.otf") format("openType");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "SplineSans-Bold";
  src: url("../assets/fonts/SplineSans-Bold.otf") format("openType");
  font-style: normal;
  font-weight: 900;
}


